//- fragment
div.centerallwrap#vue
	div#msg(style="position: fixed;top:10px;right:10px;")
		p(v-if="whoseTurn && whoseTurn !== ''")
			span(v-text="whoseTurn")
			span 's turn
	//- div#meeting(style="float:left;" :style="{width: (!res ? '45%' : '100%'), display:(!api ? 'none' : 'block')}")

	//- .ui(v-if="play")
	//- 	//- img(src= avatar)
	//- 	//- img(v-if="play && play.name", :src="avatar",
	//- 	//- 	@mouseover="hovOver(play.name)", @mouseleave="hovLeave"
	//- 	//- )
	//- 	p(v-text="play.name")
	
	include includes/game.pug
